/**

	Color palette:

	#7F7F7F
	#FFFFFF
	#BFBFBF
	#404040
	#B4F257 (POSTA's color in title)
	#FFFFE0 (comments background, puky yellow)

*/

/* Generic */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
* { font-family:"Ubuntu", Tahoma,sans-serif; }
body { background-color: #7F7F7F; }
a.link { font-weight: bold; color: #B4F257; text-decoration: none;}
a.link:hover { text-decoration: underline; }



/* Container (duh?) */
#container{
	border: 1px solid #000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #BFBFBF;
	width: 1000px; 
	margin:0 auto;
}

/* Top bar - blog title */
#postatobar{
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
	height:80px;
	font-size: 45px; 
	padding: 5px;
	background-color: #404040;
	width:auto; 
	display:block; 
	
}

#postatobar span.posta {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color:#B4F257;
}
#postatobar a { color: #000; text-decoration: none; }

/* Welcomebar */
#titlebar{
	background-color: #404040;
	color: #FFF;	
	-moz-border-radius: 5px;
    border-radius: 5px;

	border: 1px solid #000;
	width:auto; 
	display:block; 
	height:24px;
	margin: 5px 5px 5px 5px;
	text-align: center;
	padding: 5px;
	
}

#titlebar span.logged {
	color: #B4F257;
}

#titlebar span.guest {
	color: orange;
}


/* Main div */
#main{ width:auto; display:block; margin-left: 5px;}


/* post nav bar */
#post_nav_bar{
	background-color: #404040;
	color: #FFF;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 20px;
	float:left;
}

#post_nav_bar a {
	width: 330px;
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
	color: #FFF;
}
#post_nav_bar a:hover { text-decoration: none; color: #B4F257; }

/* Currently selected post */
#main #current{
	width:760px;
	min-height: 250px;
	margin-right:20px; 
	float:left;
}

/* The post */
#main #current #post_space{
	border: 2px solid #000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
	width: 98%;
	margin: auto;
	padding: 5px;
	display: block;
}

#main #current #post_space p.title {
	width: auto;
	display: block;
	text-align: center;
	font-size: 25px;
	font-weight: bold;

	
}

#main #current #post_space p.content {
	width: 95%;
	display: block;
	text-align: left;
	font-size: 14px;
	margin: auto;
	
}

#main #current #post_space img.post_image {
	width: 95%;
	border: 5px dashed #404040;
	display: block;
	margin: 10px auto;
	padding: auto;
	
}


#main #current #post_space p.author {
	width: 95%;
	display: block;
	margin: 5px auto;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

#main #current #post_space ul {
	width: auto;
	display: block;
	text-align: center;
	font-size: 14px;
	list-style-type: none;
	text-align: center;
}

#main #current #post_space ul li { width: 95%;}


#main #current #post_space div.extras {
	width: auto;
	display: block;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
}

#main #current #post_space div.extras a.promote {text-decoration: none; color: #000;}
#main #current #post_space div.extras a.promote:hover {text-decoration: none; color: green;}
#main #current #post_space div.extras span.promote {color: green;}

#main #current #post_space div.extras a.demote {text-decoration: none; color: #000;}
#main #current #post_space div.extras a.demote:hover {text-decoration: none; color: red;}
#main #current #post_space div.extras span.demote {color: red;}

/* The comments */
#main #current #comments {
	border: 2px solid #000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #404040;
	width: 95%;
	margin: auto;
	display: block;
	padding: 10px;
}

#main #current #comments #post_a_comment{
	margin-top: 25px;
	width: auto;
	text-align: center;
	display: block;
}

p.ok{ color: green; }
p.err{ color: red; }

#main #current #comments #post_a_comment form { margin: auto; }
#main #current #comments a.expand { 
	width: auto;
	display: block;	
	margin: auto; 
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	padding: 5px;
}

#main #current #comments a.expand:hover { 
	background-color: #4A4A4A;
	color: #B4F257;
}

#main #current #comments div.comment {
	background-color: #4A4A4A;
	border-bottom: 1px solid #000;
	padding: 15px;
}

#main #current #comments div.comment span.user {
	font-weight: bold;
	font-size: 12px;
	color: #B4F257;
}

#main #current #comments div.comment span.text {
	font-size: 12px;
	color: #fff;
}

/* History items */
#history {
	-moz-border-radius: 5px;
    border-radius: 5px;
	margin: auto;
	width: auto;
	display: block;
	text-align: center;
}

#history div.listitem {
	border: 1px solid #000;
	-moz-border-radius: 5px;
    border-radius: 5px;
	width: 120px;
	height: 100px;
	margin: 5px;
	display: inline-block;
	padding: 20px 0px 0px 0px;
}

/* Backgrounds for history items based on ranking */
.very_good { background-color: #BEF781;}
.good { background-color: #D0F5A9; }
.meh { background-color: #F2F5A9; }
.bad { background-color: #F5BCA9; }
.very_bad { background-color: #F78181;}


#history div.listitem div.title {
	width: 100%; 
	height: 60px;
	margin: 0 auto;
	border-top: 1px solid #000;
	background-image: url('/media/img/default_post_icon.png');
	
}

#history div.listitem div.title a {text-decoration: none; color: #fff; background-color: #404040;  }
#history div.listitem div.title a:hover {text-decoration: none; color: red;}

#history div.listitem div.commentcount {
	border-bottom: 1px solid #000;
	background-color: #404040;
	font-weight: bold
	width: auto;
	color: #FFFFFF;
	height: 20px;
	padding: 1px;
	margin: 0 auto;
}


/* Menu (rightbar) */
#main .menu{
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 23px;
	border: 2px solid #000;
	width:200px; 
	float:left;
}

#main .menu ul {
	width: auto;
	display: block;
	background-color: #FFF;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	list-style: none;
	padding-right: 40px;
}

#main .menu ul li {
	width: auto;
	border-bottom: 1px solid #000;
	padding-top: 15px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	margin: auto;
}

#main .menu ul li.last {
	width: auto;
	border-bottom: none;
	padding-top: 10px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	margin: auto;
}

#main .menu ul li:hover, li.last:hover{ background-color: #B4F257; }
#main .menu ul li a, a:hover { color: #000; text-decoration: none; }

/* Generic spacer - lovely */
div.spacer{clear:both; height:25px; display:block;}

/* Footer elements */
#footer{
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
	text-align: center;
	font-size: 25px;	
	height:40px;
	padding: 5px;
	background-color: #404040;
	width:auto; 
	display:block; 
}

#footer a{
	color: #000;
	text-decoration: none;
}

#footer a:hover {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color:#B4F257;
}

/* Form items */
input    {
width:150px;
border: 1px solid #999;
height: 25px;
display: block;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
background-color: #B7B7B7;
}

textarea   {
border: 1px solid #999;
width:500px;
height: 40px;
display: block;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
background-color: #B7B7B7;
color: #000;
}

textarea.message { display: block; }

/* Table styles */
table {
	border-collapse:collapse;
	width: 100%;
}

table,th, td {
	border: 1px solid black;
	text-align: center;
	padding: 2px;
}

th {
	background-color: #404040;
	color: #fff;
}

