{% extends "base.html" %}

{% block page_scripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$(".sub_comments").hide();
		$(".expand").click(function(){
    		$(".sub_comments").toggle("fast");
    		return false;
		});
	});

</script>
{% endblock %}

{% block title %} {{ current.title}} - on Postato {% endblock %}

{% block content %}
<div id="current"> 
      <div class="spacer"></div>  
      <div id="post">

      	{% if current %}
        <p class="title"> {{ current.title|upper }} </p>
        <p class="content">
        	{{ current.content }}
        </p>
        <p class="author">{{ current.user.username }}</p>
        
        {% if user.is_authenticated %}
        <div class="extras">
          <a href="" class="promote">Promote [+]</a> | <a href="" class="demote">Demote [-]</a> 
          ( <span class="promote">{{ current.plus_votes }}</span> / <span class="demote">{{ current.down_votes }}</span>)
        </div>
        {% endif %}
        {% else %}
        	Sorry ): we have no posts
        {% endif %}

      </div>

      <!-- comments -->
      <div id="comments">

      	
      	{% if coms %}
        <a href="" class="expand">Expand {{ coms.count }} comments</a>
        <div class="sub_comments">
        	{% for c in coms %}
        		<div class="comment"><span class="user">{{ c.user }} said:</span><span class="text"> {{ c.content }}</span></div>
        	{% endfor %}
        {% else %}

        <a href="" onclick="expand(); return false;" class="expand">Be the first to leave a comment {%if not user.is_authenticated %}(login required){% endif %}</a>
        <div class="sub_comments">
        {% endif %}

        <!-- comment form -->
        {% if user.is_authenticated %}
        <div id="post_a_comment">
          <form action="{% url blog.views.new_comment %}" method="POST">
            {% csrf_token %}
        	{{ form.as_p }}
        	<input type="submit" value="COMMENT">       
          </form>
        </div>
        {% endif %}

        </div>
      </div>

      <div class="spacer"></div>  
    </div>
{% endblock %}

{% block history %}
	{% if posts %}
	{% for post in posts %}
	<div class="listitem {{ post.get_rating }}">
        <div class="title"><a href="/posts/{{ post.id }}/">{{ post.title|truncatewords:5 }}</a></div>
        <div class="commentcount">
          {{ post.date|date:"d M Y"  }}
        </div>
      </div>
	{% endfor %}
	{% endif %}
{% endblock %}