{% extends "base.html" %}
{% load filetransfers %}
{% load render_pictures %}

{% block page_scripts %}

<!-- ajax form post -->
<script language="JavaScript">
    $(document).ready(function() {
        $('#comment_form').submit(function() {
            $.ajax({
              data: {
                'content' : $('#content').val(),
                'post' : $('#post').val(),
              },

              type: $(this).attr('method'),
              url: $(this).attr('action'),

              success: function(data) {
                /* new comments + "ok" message string */
                $('#comments').html(data);
              },

              error: function(data) {
                /* old comments + "error" message string */
                $('#comments').html(data);
              }
            });

            /* hide the status message */
            setInterval(function(){
              $('#comments_status_msg').fadeOut();
            }, 2500);

            return false;
        });
    });
</script>

{% endblock %}

{% block title %} #{{ current.id }} {{ current.title }} - on Postato {% endblock %}

{% block content %}
<div id="current"> 
      <div class="spacer"></div>  
      <div id="post_space">

        <!-- post -->
      	{% if current %}
        <p class="title"> {{ current.title|upper }} </p>

          {% if current.image %}
            {% url blog.views.download_handler id=current.id as image_url %}
            <img class="post_image" src="{{ image_url }}" alt="{{ current.title }}" />
          {% endif %}

        <p class="content">{{ current.content }} </p>
        <p class="author">{{ current.user.username }}</p>
        
        <!-- votes and delete -->
        <div class="extras">
          {% if user.is_authenticated %}
            {% ifequal current.user.id user.id %}
              <a href="/posts/delete/{{ current.id }}/" class="demote">Delete [ x ]</a> |
            {% endifequal %}
            <a href="" onclick="cast_vote('{{ current.id }}', 'plus'); return false;" class="promote">Promote [ + ]</a> | 
            <a href="" onclick="cast_vote('{{ current.id }}', 'down'); return false;" class="demote">Demote [ - ]</a> 
          {% endif %} 
          ( <span class="promote">{{ current.plus_votes|floatformat }}</span> / <span class="demote">{{ current.down_votes|floatformat }}</span> )
        </div>
        {% else %}
        	Sorry ): we have no posts
        {% endif %}

      </div>

      <!-- comments -->
      <div id="comments">
        {% include "comments.html" %}
      </div>

      <div class="spacer"></div>  
    </div>
{% endblock %}

{% block history %}
	{% if posts %}
	{% for post in posts %}
	<div class="listitem {{ post.get_rating }}">
        <!-- add templatetag to spam background image -->
        <div class="title" style="{% if post.image %}background-image: url('{% get_resized_image post.image.file 100 %}');{% endif %}" >
        <a href="/posts/{{ post.id }}/">#{{ post.id }}</a></div>
        <div class="commentcount">
          {{ post.date|date:"d M Y"  }}
        </div>
      </div>
	{% endfor %}
	{% endif %}
{% endblock %}