{% extends "base.html" %}

{% block content %}
<div id="current"> 
      <div class="spacer"></div>  
      <div id="post_space">

<p class="title">Fill the form below to login in the system ;)</p>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
<p>{{ form.username.label_tag }} {{ form.username }}</p>
<p>{{ form.password.label_tag }} {{ form.password }}</p>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

</div>
</div>

{% endblock %}