{% extends 'base.html' %}
{% block title %}About Postato{% endblock %}

{% block content %}
<div id="current">
	
	<div class="spacer"></div>

	<div id="post_space">
		<p class="title" id="top">About page</p>
			<ul>
				<li><a class="link" href="#posta-to">what is potato?</a></li>
				<li><a class="link" href="#does">what does it do?</a></li>
				<li><a class="link" href="#does-not">what doesn't (yet)?</a></li>
				<li><a class="link" href="#to-do">what is planned?</a></li>
			</ul>

		<!-- what is potato? -->
		<p class="title" id="posta-to">What is Posta-to?</p>
		<p class="content">Posta-to is a simple blogging application designed specifically for comic stripes and short messages as well. 
		It's based on <a class="link" href="http://www.allbuttonspressed.com/projects/djangoappengine">djangoappengine</a> and uses <a class="link" href="http://www.allbuttonspressed.com/projects/django-filetransfers">django-filetransfers</a> for image uploading.</p>
		<p class="content">The project code is currently hosted on <a class="link" href="https://github.com/samuele-mattiuzzo/posta-to">GitHub</a> and it provides a <a class="link" href="https://github.com/samuele-mattiuzzo/posta-to/blob/master/srv/align_libs.py">script</a> that downloads all the required packages. See the <a class="link" href="https://github.com/samuele-mattiuzzo/posta-to/blob/master/README.md">README</a> file for further instructions.

		<!-- what does it do? -->
		<p class="title" id="does">What does it do?</p>
			<ul>
				<li><a class="link" href="/signup/">Register a new user</a></li>
				<li><a class="link" href="/login/">Login user</a></li>
				<li><a class="link" href="/users/">View user profile</a> (using <a class="link" href="https://developers.google.com/chart/">googlecharts</a>)</li>
				<li>View user charts</li>
				<li><a class="link" href="/posts/new/">Create a new post</a></li>
				<li>Upload an image with a post</li>
				<li>Upvote/downvote a post</li>
				<li>Delete a post</li>
				<li><a class="link" href="/posts/">Browse posts</a></li>
				<li><a class="link" href="/top/">View rankings</a></li>
			</ul>
		</p>

		<!-- what doesn't (yet)? -->
		<p class="title" id="does-not">What doesn't?</p>
			<ul>
				<li>Delete an image</li>
				<li>Resize image on upload</li>
				<li>Share the posts</li>
			</ul>
		</p>

		<!-- what is planned -->
		<p class="title" id="to-do">What is planned?</p>
			<ul>
				
				<li>Tagging system (maybe using <a class="link" href="http://code.google.com/p/django-tagging/">django-tagging</a>)</li>
				<li>Image uploading with resize (templatetag generates too overhead)</li>
				<li>Auth with OpenID</li>
				<li>Post sharing</li>
				<li>New css colors (yeah)</li>
			</ul>
		</p>
	</div>
</div>
{% endblock %}
